@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #EAEAEA;
  --foreground: #001437;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer base {
  * {
    border-color: #B2B8C3;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #EAEAEA;
}
::-webkit-scrollbar-thumb {
  background: #B2B8C3;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #007AC5;
}
